@model YastCleaner.Web.ViewModels.ServicioViewModel

@{
    ViewData["Title"] = "EditarServicio";
}

<h1>EditarServicio</h1>

<h4>ServicioViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Servicio" asp-action="EditarServicio" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <input asp-for="ServicioId" class="form-control" />
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select id="Estado" name="Estado" asp-items="@ViewBag.Estados" class="form-control" required>
                    <option value="">Seleccione un estado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Servicio" asp-action="Servicios">Regresar</a>
</div>

