<h1>Ingresar Código Pedido</h1>
<form asp-controller="Pedido" asp-action="Consultar" method="get">
    <div class="form-group">
        <label for="codigo">Código Pedido</label>
        <input type="text" id="codigoPedido" name="codigoPedido" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>
